{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>Cookie</h1>
    {% if cookie_value %}
        <p>Текущее значение куки: {{ cookie_value }}</p>
        <form method="POST">
            <button type="submit" class="btn btn-danger">Удалить куки</button>
        </form>
    {% else %}
        <p>Куки не установлены.</p>
        <form method="POST">
            <button type="submit" class="btn btn-primary">Установить куки</button>
        </form>
    {% endif %}
</div>
{% endblock %}